# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ipdb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
VayaCanicastanyazos/bin/*.so
VayaCanicastanyazos/bin/*.dylib
VayaCanicastanyazos/bin/*.dll
VayaCanicastanyazos/bin/*.ilk

# Compiled Static libraries
VayaCanicastanyazos/bin/*.lai
VayaCanicastanyazos/bin/*.la
VayaCanicastanyazos/bin/*.a
VayaCanicastanyazos/bin/*.lib

# Executables
VayaCanicastanyazos/bin/*.exe
VayaCanicastanyazos/bin/*.out
VayaCanicastanyazos/bin/*.app
VayaCanicastanyazos/bin/*.log

*.vs
# interm
interm/


!VayaCanicastanyazos/bin/assets/ogre/*.exe
!VayaCanicastanyazos/bin/assets/ogre/*.dll
!VayaCanicastanyazos/bin/assets/ogre/*.bat